*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
.wrapper {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
	width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
    border: 1px solid red;
    
}
.header {
	padding: 0 10px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
    margin: 0 auto;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        background-color: #fff;
        border-bottom: 1px solid #000;
        z-index: 2;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 192px;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        width: 161px;
        margin: 0 100px;
        img {
            width: 103px;
            height: 66px;
            display: block;
            margin: 0 auto;
        }
        h2 {
            color: #282828;
            font-size: 19px;
            font-weight: 700;
            margin-top: 16px;
            text-transform: uppercase;
            text-align: center;	
        }
    }
    &__burger {
        display: none;
    }
    &__menu {
        display: flex;
        justify-content: center;
        /* position: relative; */
    }
    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: space-between;
        width: 540px;
        padding-top: 40px;
        /* border: 1px solid #000; */
        li {
            list-style: none;
        }
    }
    &__link {
        text-decoration: none;
        color: #282828;
        font-size: 15px;
        font-weight: 700;
        transition: .3s linear;
        /* margin-right: 36px; */
        &:hover {
            color: #e9b979;
        }
    }
}

//part two
.left {}
.right {}
.last {}
.content {
    &__text {
        padding-top: 200px;
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width:768px){
	body.lock {
		overflow: hidden;
	}
	.header {
        &__body {
            height: 150px;
        }
        &__logo {
            flex: 0 0 40px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 80px;
            height: 70px;
            position: relative;
            z-index: 3;
            &:before,
            &:after{
                content: '';
                background-color: #282828;
                position: absolute;
                width: 100%;
                height: 12px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &:before {
                top: 0;
            }
            &:after{
                bottom: 0;
            }
            &.active span {
                transform: scale(0);
            }
            &.active:before {
                transform: rotate(45deg);
                top: 28px;
            }
            span {
                position: absolute;
                background-color: #282828;
                left: 0;
                width: 100%;
                height: 12px;
                top: 30px;
                transition: all 0.3s ease 0s;
            }
        }
        &__menu {
            position: relative;
            overflow: auto;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e9b979;
            padding: 70px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            &.active {
                top: 0;
            }
            &.active .header__logo{
                display: none;
            }
        }
        &__list {
            display: block;
            position: absolute;
            border: 1px solid #000;
            li {
                margin-top: 50px;
            }
        }
        &__link {
            font-size: 100px;
            text-align: center;
            &:hover {
                color: #282828;
            }
        }
    }
    .left {
		width: 600px;
		justify-content: center;
	}
	.right {
		bottom: 890px;
		justify-content: center;
	}
}
@media (max-width:1024px){
	.header {
        &__list {
            width: 500px;
            margin-top: 100px;
        }
        &__link {
            text-align: center;
        }
    }
}
@media (max-width:1460px){
	.header {
        &__list {
            width: 480px;
        }
    }
}
@media (max-width:1400px){
	.header {
        &__list {
            width: 440px;
        }
    }
}
@media (max-width: 1120px) {
	.content {
        padding: 70px 0 0 0;
        &__text {
            padding-top: 200px;
            font-size: 40px;
            line-height: 40px;
        }
	}
}