@import 'nullstyle';
html,body{
    height: 100%;
    /*background-color: #333;*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*color: #fff;*/
    font-size: 25px;
}
.wrapper{
    height: 100%;
    padding: 50px;
}
.img1 {
    width: 556px;
    height: 436px;
}
.img2 {
    width: 359px;
    height: 211px;
}
.img3 {
    width: 359px;
    height: 211px;
}
.slider {
    &__item {
        display: flex;
    }
    &__img {

    }
}
.item__left-block {
    width: 556px;
}
.item__right-block {
    display: flex;
    flex-direction: column;
    width: 556px;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.slider {
    position: relative;
    padding: 0 50px;
    /*height: 1000px;*/
}
/*.slider .slick-track {
    display: block;
}*/
.slider {
    .slick-arrow {
        position: absolute;
        margin: -30px 0 0 0;
        top: 50%;
        z-index: 10;
        font-size: 0;
        width: 6px;
        height: 10px;
    }
}
.slider {
    .slick-arrow.slick-prev {
        left: 0;
        border: 1px solid #999;  
        background-color: #fff;      
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: url('../img/left-arrow.png') 40% no-repeat;
        transition: .3s linear;
        &:hover {
            background-color: #ebebeb;
        }
    }
    // .slick-arrow.slick-prev:before,
    // .slick-arrow.slick-prev:after {
    //     content: '';
    //     width: 8px;
    //     height: 1px;
    //     background-color: #535353;
    //     position: absolute;
    //     top: 12px;
    //     transition: all .3s ease 0s;
    // }
    // .slick-arrow.slick-prev:before {
    //     transform: rotate(-40deg);
    //     left: 9px;
    // }
    // .slick-arrow.slick-prev:after {
    //     transform: rotate(40deg);
    //     left: 9px;
    //     top: 19px;
    // }
}
.slider {
    .slick-arrow.slick-next {
        right: 0;
        background: url('../img/right-arrow.png') 60% no-repeat;
        border: 1px solid #999;  
        background-color: #fff;      
        width: 34px;
        height: 34px;
        border-radius: 50%;
        &:hover {
            background-color: #ebebeb;
        }
    }
    // .slick-arrow.slick-next:before,
    // .slick-arrow.slick-next:after {
    //     content: '';
    //     width: 8px;
    //     height: 1px;
    //     background-color: #535353;
    //     position: absolute;
    //     top: 13px;
    //     transition: all .3s ease 0s;
    // }
    // .slick-arrow.slick-next:before {
    //     transform: rotate(50deg);
    //     right: 10px;
    // }
    // .slick-arrow.slick-next:after {
    //     transform: rotate(-50deg);
    //     right: 10px;
    //     top: 19px;
    // }
}
   
.slider {
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slider {
    .slick-dots li{
        list-style: none;
        margin: 0 10px;
    }
}
/* Активная точка */
.slider .slick-dots li {}
/* Элемент точки */
.slider {
    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #666;
        border-radius: 50%;
    }
}

.slider {
    .slick-dots {
        li.slick-active {
            button {
                background-color: #333;
            }
        }
    }
}
.slider__item {
    text-align: center;
    text-decoration: none;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 400;
}

.slider__block {
  color: #000;
  text-align: center;
  max-width: 290px;
  max-width: 360px;
  border: 1px solid #000;
}
.slider__img {
  width: 280px;
  height: 360px;
}
.slider__title {
    color: #8a8a8a;
    text-decoration: none;
}
.slider__subtitle {}