*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
.wrapper {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
	border: 1px solid red;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid #000;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 192px;
	align-items: center;
}
.header__logo {
	display: flex;
	flex-direction: column;
	width: 163px;
	border: 1px solid #000;
	flex: 0 0 60px;
	position: relative;
	z-index: 3;
}
.submain {
	display: none;
	margin-left: 0;
}
.header__logo h2 {
	color: #282828;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.header__logo img {
	margin: 0 auto;
	height: 66px;
	width: 103px;
	max-width: 100%;
	display: block;
}
.header__burger {
	display: none;
}
.header__menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header__list {
	padding-top: 35px;
	display: flex;
	justify-content: space-between;
	width: 450px;
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li {
	list-style: none;
}
.header__link {
	font-weight: 700;
	color: #000;
	text-transform: capitalize;
	font-size: 15px;
	text-decoration: none;
}
.logo__title {
	color: #282828;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
@media (max-width:1120px){
	.header:before{
		border-bottom: 0px solid #fff;
	}
	.main {
		display: none;
	}
	.content__text {
		padding-top: 10px;
	}
	.submain {
		display: block;
	}
	.header__logo img {
		margin: 0 auto;
		height: 40px;
		width: 56px;
		max-width: 103px;
		display: block;
	}
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 60px;
		display: flex;
	}
	.header__body.active {
		justify-content: center;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		overflow: auto;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #e9b979;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
	.header__menu.active {
		top: 0;
		padding-top: 90px;
		/* text-align: center; */
	}
	.header__list {
		top: 0;
		display: block;
		width: 300px;
		margin: 0 auto;
	}
	.header__list li {
		/* margin: 0 0 20px 0; */
	}
	.header__link {
		text-align: center;
		font-size: 24px;
		margin: 0 auto;
		color: #fff;
		/* color: #fff; */
	}
}
@media (max-width: 1120px) {
	.content {
		padding: 70px 0 0 0;
	}
}