<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/style.css")
		title Document
	body
		header.header
			.container
				.header__body
					.header__logo.submain
						img(src="./img/logo.png", alt="")
					.header__burger
						span
					nav.header__menu
						ul.header__list
							li
								a.header__link(href="#") О нас
							li
								a.header__link(href="#") Каталог
							li
								a.header__link(href="#") Услуги
							li
								a.header__link(href="#") Вопрос-ответ
						.header__logo.main
							img(src="./img/logo.png", alt="")
							h2 добрушдрев
						ul.header__list
							li
								a.header__link(href="#") Новости
							li
								a.header__link(href="#") Мебель по помещениям
							li
								a.header__link(href="#") Доставка
							li
								a.header__link(href="#") Контакты
		script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
		script(src="./js/script.js")